<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="trabalho_base_dados.Properties.Settings.nelsadaConnectionString"
            connectionString="Data Source=PORTATIL-TIAGO;Initial Catalog=nelsada;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>